{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/events/event-index.css' %}" />
{% endblock %}
{% block content %}

<section class="page-header">
  <h1>Event List</h1>
  <img src="{% static 'images/event-icon.png' %}" alt="Event Icon" class="event-icon" />
</section>

<section class="card-container">
    {% for event in events %}
      <div class="card">
        <a href="{% url 'event-detail' event.id %}">
          <div class="card-content">
            <h2 class="card-title">{{ event.title }}</h2>
            <p>{{ event.date }} at {{ event.location }}</p>
            <p>{{ event.description }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </section>

{% endblock %}
