{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Participlan</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
  </head>
  <body>
    {% block content %}
    <section class="hero-section">
        <div class="hero-content">
            <h1>Welcome to Participlan!</h1>
            <p>Your platform for managing volunteers and events effortlessly.</p>
            <a href="{% url 'volunteer-index' %}" class="btn">View Volunteers</a>
            <a href="/events" class="btn secondary">View Events</a>
        </div>
    </section>
    {% endblock %}
  </body>
</html>

